
/* Såfremt siden skal ses på en computer, så skal den ses som "iphone 6/7/8"
Computeren kan ikke gengive de præcist samme forhold, som en telefon kan, dette skal der tages forbehold for såfremt, at siden ses på en computer og ikke telefon.
Nogen ting kan se forskudte og flyttede ud på computer i forhold til mobil. */






/* #region Standarder som er sat for hele filen */


/* Grid wrapper - Indeholder hvordan Grid er sat op */
.wrapper {
    display: grid;
    margin: 0 auto;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(6, 1fr)
}



/* Vi har valgt, at gøre alle billeder responsive, som default, så vi ikke skal gentage det i koden */
img {
    max-width: 100%;
}



/* Fjerner padding & margin fra body på alle sider, og laver teksten responsiv som default */
body {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: 'Nunito' , sans-serif;
}



/* Vi har valgt, at fjerne prikkeer og padding fra lister som default, da vi ikke skal bruge dette */
ol, ul {
    list-style: none;
    padding: 0;
}


/* #endregion */







/* Desktop størrelse */
/* Desktop størrelse */
/* Desktop størrelse */

/* #region Desktop standarder */


img , p , a , div , h1 , h2 , h3 , h4 , nav , form , #vend   {
    display: none;
}





#na {
    grid-area: 3 / 2 / span 1 / span 4;
    justify-self: center;
    display: unset;
}


/* #endregion */


@media only screen and (max-width: 813px) and (orientation: landscape) {
img , p , a , div , h1 , h2 , h3 , h4 , nav , form , #na   {
    display: none;
}


#vend {
    grid-area: 2 / 1 / span 1 / span 6;
    justify-self: center;
    display: unset;
}

}




/* Smartphone størrelse */
/* Smartphone størrelse */
/* Smartphone størrelse */


@media only screen and (max-width: 813px) and (orientation: portrait) {

/* #region Default values */

body {
    background: lightgray;
}

img , p , a , div , h1 , h2 , h3 , h4 , nav , form   {
    display: unset;
}

#na {
   display: none;
}



.baggrund {
    z-index: -10;
    position: absolute;
    width: 100%;    
}

.baggrund2 {
    grid-area: 20 / 1 / span 22 / span 6;
    width: 100%;
    z-index: -9;
}

.baggrund3 {
    grid-area: 41 / 1 / span 22 / span 6;
    width: 100%;
    z-index: -9;
}

.baggrund4 {
    grid-area: 62 / 1 / span 22 / span 6;
    width: 100%;
    z-index: -9;
}


.red-box {
    
}

/* #endregion */











/* #region Header */

.menu-background-top {
    grid-area: 1 / 1 / span 2 / span 6;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
}

.br-logo {
    width: 15%;
    position: fixed;
    z-index: 2;
    top: .6%;
    left: 42.5%;
}


#back {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 5%;
    align-self: center;
    justify-self: center;
    z-index: 2;
    padding: 5% 5% 5% 5%;
}

#scan {
    align-self: center;
    justify-self: center;
    width: 12%;
    position: fixed;
    top: 2%;
    left: 5%;
    z-index: 2;
}

#search {
    align-self: center;
    justify-self: center;
    width: 10%;
    position: fixed;
    top: -.5%;
    z-index: 2;
    right: 0%;
    padding: 5% 5% 5% 5%;
}

/* #endregion */


/* #region Footer */

.menu-background-bottom {
    background-color: #DE4343;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 11vh;
    z-index: 2;
}

/* Vi har valgt at lave lodrette streger på nedenstående måde for, at kunne få
den lodrette streg til, at nå fra top til bund af vores røde baggrund. */

.vl {
    border-left: 1px solid white;
    position: fixed;
    height: 11%;
    bottom: 0;
    z-index: 2;
}

.vl-1 {
    left: 25%;
}

.vl-2 {
    left: 50%;
}

.vl-3 {
    left: 75%;
}




nav {
    position: fixed;
    bottom: -1.5%; 
    width: 100%;
    z-index: 2;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

nav ul li {
    text-align: center;
}


nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding-top: 3vh;
    padding-bottom: 4vh;
}

nav ul li a:hover {
    font-weight: bold;
    text-decoration: underline;
}

/* #endregion */





/* Forside */
/* Forside */
/* Forside */

/* #region Forside */

#rangle {
    grid-area: 3 / 1 / span 5 / span 6;
}


#onskebogen {
    grid-area: 8 / 2 / span 5 / span 4;
}

#santa {
    grid-area: 12 / 1 / span 4 / span 6;
    justify-self: center;
    width: 50%;
}


#stortgran {
    grid-area: 19 / 1 / span 6 / span 6;
    position: relative;
    top: 8%;
}








/* .se-mere og .wishlist definerer stylingen på vores knapper, og nedenunder er 
de individuelle knapper så blevet placeret i vores grid. */

.se-mere {
    color: white;
    text-decoration: none;
    background: #DE4343;
    text-align: center;   
    justify-self: center;
    align-self: center;
    width: 70%;
    height: 80%;
}

.wishlist {
    font-size: .8em;
    justify-self: center;
}










/* Produkt 1 */
.produkt1 {
    grid-area: 22 / 1 / span 5 / span 5;
    width: 60%;
    left: 3%;
    position: relative;
}

.se-mere-produkt1 {
    grid-area: 22 / 4 / span 2 / span 3;
}

.wishlist-produkt1 {
    grid-area: 25 / 4 / span 1 / span 3;
}






/* Produkt 2 */
.produkt2 {
    grid-area: 28 / 4 / span 6 / span 3;
    width: 70%;
    justify-self: center;
}

.se-mere-produkt2 {
    grid-area: 28 / 1 / span 2 / span 3;
}

.wishlist-produkt2 {
    grid-area: 31 / 1 / span 1 / span 3;
}





/* Produkt 3 */
.produkt3 {
    grid-area: 35 / 1 / span 5 / span 5;
    width: 60%;
    left: 3%;
    position: relative;
}

.se-mere-produkt3 {
    grid-area: 35 / 4 / span 2 / span 3;
}

.wishlist-produkt3 {
    grid-area: 38 / 4 / span 1 / span 3;
}




/* Produkt 4 */
.produkt4 {
    grid-area: 42 / 4 / span 6 / span 3;
    width: 70%;
    justify-self: center;
}

.se-mere-produkt4 {
    grid-area: 42 / 1 / span 2 / span 3;
}

.wishlist-produkt4 {
    grid-area: 45 / 1 / span 1 / span 3;
}




/* Produkt 5 */
.produkt5 {
    grid-area: 48 / 1 / span 5 / span 5;
    width: 50%;
    left: 3%;
    position: relative;
}

.se-mere-produkt5 {
    grid-area: 48 / 4 / span 2 / span 3;
}

.wishlist-produkt5 {
    grid-area: 51 / 4 / span 1 / span 3;
}





/* Produkt 6 */
.produkt6 {
    grid-area: 54 / 4 / span 6 / span 3;
    width: 70%;
    justify-self: center;
}

.se-mere-produkt6 {
    grid-area: 54 / 1 / span 2 / span 3;
}

.wishlist-produkt6 {
    grid-area: 57 / 1 / span 1 / span 3;
}




/* Produkt 7 */
.produkt7 {
    grid-area: 63 / 1 / span 5 / span 5;
    width: 50%;
    left: 3%;
    position: relative;
}

.se-mere-produkt7 {
    grid-area: 63 / 4 / span 2 / span 3;
}

.wishlist-produkt7 {
    grid-area: 66 / 4 / span 1 / span 3;
}




/* Produkt 8 */
.produkt8 {
    grid-area: 68 / 4 / span 7 / span 3;
    width: 60%;
    justify-self: center;
}

.se-mere-produkt8 {
    grid-area: 68 / 1 / span 2 / span 3;
}

.wishlist-produkt8 {
    grid-area: 71 / 1 / span 1 / span 3;
}





/* Produkt 9 */
.produkt9 {
    grid-area: 76 / 1 / span 4 / span 5;
    width: 50%;
    left: 3%;
    position: relative;
}

.se-mere-produkt9 {
    grid-area: 76 / 4 / span 2 / span 3;
}

.wishlist-produkt9 {
    grid-area: 79 / 4 / span 1 / span 3;
}


/* #endregion */





/* Produkt Detaljer */
/* Produkt Detaljer */
/* Produkt Detaljer */

/* #region Produkt Detaljer */

/* #region Produkt 1 */

.pd1-baggrund {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9;
}



.pd1-overskrift { 
    grid-area: 7 / 1 / span 5 / span 6;
    width: 50%;
    justify-self: center;
}


.pd1-h4 {
    grid-area: 10 / 1 / span 4 / span 6;
    text-align: center;
}


.pp1-h4 {
    grid-area: 10 / 6 / span 4 / span 4;
}



.pd1-produkt1 {
    grid-area: 17 / 1 / span 10 / span 6;
    width: 50%;
    justify-self: center;
}


.pd1-tekst {
    grid-area: 28 / 2 / span 30 / span 4;
}










/* #endregion */









/* #endregion */





/* 404 - Siden eksisterer ikke */
/* 404 - Siden eksisterer ikke */
/* 404 - Siden eksisterer ikke */

/* #region 404 Page not found */

#tekst-404 {
    grid-area: 3 / 1 / span 2 / span 6;
    text-align: center;
    color: white;
}

/* #endregion */



/* Min profil */
/* Min profil */
/* Min profil */









}
