/* Grid wrapper */
.wrapper {
    display: grid;
    margin: 0 auto;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(12, 1fr)
}

/* Gør alle billeder responsive fra start */
img {
    max-width: 100%;
}

/* Fjerner padding */
body {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

/* Fjerner prikken fra lister */
ol, ul {
	list-style: none;
}







/* Smartphone størrelse */
@media only screen (max-width: 740px) {

.br-logo {
    width: 3vw;
}



}







/* Tablet størrelse */
@media only screen (max-width: 1024px) {




}